<div class="background d-flex justify-content-center align-items-center h-100 p-3">
    <div class="container p-1">
        <h3 class="text-center mb-4">Selecione seu bairro e veja os dias e horários de coleta</h3>

        <div class="mb-4 text-center p-1">
          <label for="selectBairro" class="form-label text-light-emphasis">Escolha seu bairro</label>
          <select id="selectBairro" class="form-select form-select-sm">
            <option value="" selected disabled>Selecione um bairro</option>
          </select>
        </div>
        
        <div id="infoColeta" class="card p-2 d-none">
          <div class="card-body">
            <p class="card-text"><strong>Turno:</strong> <span id="turno"></span></p>
            <p class="card-text"><strong>Horário:</strong> <span id="horario"> Entre as </span></p>
            <p class="card-text"><strong>Dias:</strong> <span id="dias"></span></p>
          </div>
        </div>
    </div>
</div>