<div class="container-fluid flex-column background d-flex justify-content-center align-items-center h-100 p-3">
  <section class="full-screen">
    <div class="coletaHorario">
      <h3 class="text-center my-3">Selecione seu bairro e veja os dias e horários de coleta</h3>
  
      <div class="mb-3 text-center p-2">
        <label for="selectBairro" class="form-label text-light-emphasis">Escolha seu bairro</label>
        <select 
          id="selectBairro" 
          class="form-select form-select-sm"
          [(ngModel)]="selectedDistrictForViewCollect" 
          (change)="onDistrictSelected(selectedDistrictForViewCollect)">
          <option value="" selected disabled>Selecione um bairro</option>
          <option *ngFor="let district of districts" [value]="district.name">
            {{ district.name }}
          </option>
        </select>
      </div>
      
      <div id="infoColeta" class="card p-2" *ngIf="collections.length > 0">
        <div *ngFor="let collection of collections">
          <div class="card-body">
            <p class="card-text"><strong>Dia da Semana: </strong> <span>{{ collection.dayOfWeek }}</span></p>
            <p class="card-text"><strong>Turno: </strong> <span>{{ collection.shift }}</span></p>
            <p class="card-text"><strong>Horário Previsto: </strong> <span>{{ collection.schedule }}</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="full-screen">
    <div class="contribuirHorario">
      <h3 class="text-center">Melhore a precisão dos horários de coleta</h3>

      <div>
        <form [formGroup]="inputsForm">

          <div class="col-md-12 mb-3">
            <label for="selectBairro" class="form-label text-light-emphasis">Escolha seu bairro</label>
            <select
              id="selectBairro"
              class="form-select form-select-sm form-control"
              formControlName="bairro"
              [(ngModel)]="selectedDistrictForSchedule"
            >
              <option value="" selected disabled>Selecione um bairro</option>
              <option *ngFor="let district of districts" [value]="district.name">
                {{ district.name }}
              </option>
            </select>
          </div>

          <div class="col-md-12 mb-3">
            <label for="selectDiaSemana" class="form-label">Dia da Semana</label>
            <select id="selectDiaSemana" class="form-select form-control" formControlName="diaSemana">
              <option value="" selected disabled>Selecione o dia</option>
              <option value="MONDAY">Segunda-feira</option>
              <option value="TUESDAY">Terça-feira</option>
              <option value="WEDNESDAY">Quarta-feira</option>
              <option value="THURSDAY">Quinta-feira</option>
              <option value="FRIDAY">Sexta-feira</option>
              <option value="SATURDAY">Sábado</option>
              <option value="SUNDAY">Domingo</option>
            </select>
          </div>

          <div class="col-md-12 mb-3">
            <label for="inputHorario" class="form-label">Horário Exato</label>
            <input 
              type="time" 
              class="form-control" 
              id="inputHorario" 
              aria-label="Informe o horário exato"
              formControlName="horario"
              (change)="updateShift()"
            >
          </div>

          <div class="col-md-12 mb-3">
            <label for="inputTurno" class="form-label">Turno</label>
            <input 
              type="text" 
              class="form-control" 
              id="inputTurno"
              [value]="shift !== null ? Shift[shift] : ''" 
              disabled
            >
          </div>

          <div class="text-center">
            <button
             class="btn btn-success" 
             id="submitHorario" 
             [disabled]="!inputsForm.valid"
             (click)="updateScheduleByDistrictAndDayWeek()"
             >
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>